body{
    background-color: yellow;
}
h1{
    color: aqua;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
#top{
    color: greenyellow;
}
a{color: maroon;
    text-decoration:none ;}
a:hover{
    text-decoration: underline;
    /* font-weight: bold;
    font: size 18px;  */
}
a:visited
{
    color: blue;
h2{
    text-align: center;
    color: navy;
    text-decoration: underline;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resumeListHeading{
    font-weight: bold;
    font-style: normal;
}
.underline{
    text-decoration: underline;
}
.justify{text-align: justify;}
.homebg{
    background-image: url('../images/BackroundImage.jpeg');
    background-position: top right;}

/* just to show how to use borders */
.box1{
    border-width: 1px;
    border-style: solid;
    border-color: grey;

     /* border: 1px solid red;  */
}
.box2{
    padding: 5px;
}
.box3{
    margin: 50px;
}
/*yft*/

.common{
    background-color: gray;
    border: 2px solid white;
    position: absolute;
}

.header{
    top: 5px;
    left: 15px;
    right: 25px;
    height: 100px;
}

.left{
    top: 115px;
    left: 15px;
    bottom: 100px;
    width: 40px;
    /* height: fit-content; */
}

.right{
    top: 115px;
    right: 25px;
    width: 100px;
    bottom: 40px;
    /* height: fit-content; */
}
.main{
    top: 115px;
    left: 135px;
    right: 140px;
    bottom: 40px;
    height: fit-content;
}    

.footer{
    bottom: 5px;
    height: 25px;
    left: 15px;
    right: 25px;
    position: fixed;
    z-index: 1;
}