img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
}
body {
    color: blueviolet;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

